h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #524ecc;
    margin-top: 30px;
}
p {
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    color: #2a277a;
    margin-top: 30px;
}
img {
    display: block;
    margin: 20px auto;
    width: 200px;
}
nav {
    text-align: center;
    margin-top: 20px;
}
nav a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #6663ca;
    font-weight: bold;
    margin: 0 10px;
}